body{
    font-family: 'Asul';
margin:0;
}

h1
{
    font-family: 'Secular One', sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: 'Sansita Swashed';
}

#header{
    background-color: tomato;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 4px 4px 0px gray;
    -moz-box-shadow: 0px 4px 4px 0px gray;
    box-shadow: 0px 4px 4px 0px tan;
    position: relative;
    padding: 0 20px;
}

h1{
    color: white;
    margin:0;
    justify-self: flex-start;
}

h2{
    color: coral;
}

ol{
    list-style: none;
    display: flex;
}

li{
    display: inline-block;
    margin: 0 10px 0 10px;
}

a{
    text-decoration: none;
    color: white;

}

strong{
    margin:0;
}



.main{
    background-color: wheat;
}

.main-details{
    width: 500px;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#Proyectos{
    display: flex;
    flex-direction: column;

}

#project{
    background-color: white;
    padding: 20px;
}

.project-title{
    color: tomato;
    text-transform: uppercase;
    margin:50px;
    border-bottom: double;
}
.project-canvas{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 251, 214);
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.magic{
    height: 400px;
    width: 820px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#area_de_dibujo{
    color: red;
border: 1px solid grey;
border-radius: 5px;
background-color: white;
flex-shrink: 0;
}

label{
    border: none;
    background: none;
}

#colorPicker{
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
    display: block;
}

.footer{
    height: 100px;
    background-color: tomato;
}

.caja-url{
    color: tomato;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
}

.tools{
    margin: 0;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 200px;

}

.element img{
    height: 200px;
    width: auto;
    object-fit: cover;
    box-shadow: 4px 4px 4px 0 grey;
}

.element img:hover{
    height: 220px;
}

.gallery-container{
    background-color: rgb(255, 251, 214);
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.macros{
    background-color: rgb(255, 251, 214);
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.info{
    height: auto;
    background-color: wheat;
    padding: 30px;

}
form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.user-info{
    width: 200px;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}
input {
    margin: 5px;
    flex-shrink: 0;
    font-family: 'Asul';
}
.text{
    color:tomato;
    border: 1px solid tomato;
    border-radius: 5px;

}
.submit{
    height: 40px;
    border: none;
    border-radius: 10px;
    color:white;
    background-color: tomato;
}
#mensaje{
    width: 300px;
    height: 100px;
}

textarea{
    margin: 30px;
    margin-top: 0;
}